@page
@model FeedModel
@{
    ViewData["Title"] = "Feed";
}

<div>
    <div class="post-submit">
        <form method="post">
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Post.Content"></label>
                <textarea asp-for="Post.Content" class="form-control" autocomplete="content" aria-required="true"></textarea>
                <span asp-validation-for="Post.Content" class="text-danger"></span>
            </div>
            <div class="form-group text-end">
                <input type="submit" value="Publish" class="btn btn-primary" />
            </div>
        </form>
    </div>

    @foreach(var post in Model.Posts) {
        <div class="post">
            <div class="header">
                <div class="username">@Html.DisplayFor(modelItem => post.Username)</div>
                <div class="published">@Html.DisplayFor(modelItem => post.Published)</div>
            </div>
            <div class="content">
                @Html.Raw(post.Post)
            </div>
        </div>
    }
</div>
