@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"] <img src="/tryne.svg" alt="Tryneboka" /></h1>

<p>It's a social network, what do you think?</p>

<p>Seriously; It all depends on the responsible for hosting this application.</p>

<p><a href="https://github.com/stigmh/Tryneboka" target="_blank" rel="noreferrer noopener">Tryneboka</a> is made without any tracking or privacy invasive functions. Custom deployments may have been modified.</p>

<p>Two <em>AspNetCore</em> cookies are used for authentication and session management.</em></p>
